
<% include layout.ejs %>
<h2>Sign Up</h2>
<form method="POST">
  <input name="username" placeholder="Username" required>
  <input name="password" type="password" placeholder="Password" required>
  <button>Sign Up</button>
</form>
<a href="/auth/login">Login</a>
